@font-face {
  font-family: Gudea;
  src: url("~assets/fonts/Gudea-Regular.ttf");
}

@font-face {
  font-family: Gudea;
  src: url("~assets/fonts/Gudea-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Gudea;
  src: url("~assets/fonts/Gudea-Italic.ttf");
  font-style: italic;
}
