@import url('https://fonts.googleapis.com/css?family=Gudea&display=swap');

/*
@font-face {
  font-family: Gudea;
  src: url("src/assets/fonts/Gudea-Regular.ttf");
}

@font-face {
  font-family: Gudea;
  src: url("src/assets/fonts/Gudea-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Gudea;
  src: url("src/assets/fonts/Gudea-Italic.ttf");
  font-style: italic;
}
*/
