@import "variables.scss";

:global(.light-theme) {
  --primary: #{$blue};
  --secondary: #{$blue-gray-500};

  --background: #{$white};

  --on-primary: #{$white};
  --on-secondary: #{$white};
  --on-background: #{$black};

  --navbar: #f5f5f5;
  --on-navbar: #{$blue-gray-500};
  --navbar-shadow: rgba(110, 110, 110, 0.5);

  --banner: #{$light-blue};
  --on-banner: #{$blue};

  --on-footer: #{$light-blue};

  --badge: #{$white};
  --on-badge: #90A4AE;


  --icon: #{$blue};
  --on-icon: #{$white};
  --icon-hover-color: #{$black};
  --icon-hover-bg: #{$white};
  --icon-inner-text: var(--icon);

}
